/* fadeInTop */
.fadeInTop {
    animation: fadeInTop 1.5s ease 0s 1 normal;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
  }
}